* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 200px;
    background: radial-gradient(circle at 10% 20%, rgb(75, 108, 183) 0%, rgb(55, 82, 141) 90%);
}

.listadesordenada{
    list-style: none;
    text-decoration: none;
}

.listaordenada{
    display: inline-block;
    font-size: 20px;
    padding: 0px 20px;
}

.cadaboton{
    text-decoration: none;
    color: white;
    font-family: 'Staatliches', cursive;
    transition: 0.2s;
}

.cadaboton:hover{
    color: #d5def5;
    transition: 0.2s;
}


.contacto{
    font-size: 12px;
    padding: 15px 15px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Alata', sans-serif;
}

.contacto:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.paginaArriba{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 50px;
    background: radial-gradient(circle at 10% 20%, rgb(75, 108, 183) 0%, rgb(55, 82, 141) 90%);
}

.textobienvenida{
    text-align: center;
    font-family: 'Secular One', sans-serif;
}

.titulo{
    font-size: 60px;
    padding-bottom: 20px;
    color: white;
}

.textotitulo{
    font-size: 30px;
    color: black;
    color: white;
}

.paginaAbajo{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: black;
}

.textohome1{
    font-size: 25px;
    font-family: 'Alata', sans-serif;
    color: black;
    width: 100%;
    text-align: center;
}

.paginaAbajo2{
    background-color: black;
}

.textohome2{
    font-size: 25px;
    font-family: 'Alata', sans-serif;
    padding: 50px 100px;
    text-align: center;
    color: white;
}

.textohome3{
    font-size: 25px;
    font-family: 'Alata', sans-serif;
    width: 100%;
    text-align: center;
}

.paginaAbajo3{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.textohome4{
    font-size: 25px;
    font-family: 'Alata', sans-serif;
    padding: 50px 100px;
    text-align: center;
}

footer{
    background-color: black;
    width: 100%;
}

.logo{
    height: 150px;
    width: auto;
    padding: 20px 0px;
}


body{
   background-color: white;
}

.fotohome1{
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendario{
    height: 200px;
    width: auto;
}

.fotohome3{
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.textofooter{
    color: white;
    text-align: center;
    font-family: 'Alata', sans-serif;
    padding-bottom: 30px;
}

.logofooter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nohaynada{
    font-size: 50px;
    text-align: center;
    padding: 50px 50px;
    font-family: 'Alata', sans-serif;
}

.nohaynadaschedule{
    font-size: 50px;
    text-align: center;
    padding: 50px 50px;
    font-family: 'Alata', sans-serif;
}

@media screen and (max-width:414px){


.nav{
    background-color: red;
}

.paginaAbajo{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.textohome2{
    padding: 50px 50px; 
}

.paginaAbajo3{
    padding: 50px 50px;
}

.textohome4{
    padding: 50px 50px;
}

.nav{
    padding: 50px 80px;
}

.listaordenada{
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.contacto{
    font-size: 12px;
    padding: 5px 5px;
}


}

@media screen and (min-width:715px) and (max-width: 890px){

.nav{
    padding: 20px 10px;
}


}

@media screen and (min-width: 416px) and (max-width: 714px){

.listaordenada{
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    padding: 20px 60px;
}


}

@media screen and (min-width: 0px) and (max-width: 370px){


.titulo{
    font-size: 40px;
}

.textotitulo{
    font-size: 20px;
}

.textohome1{
    font-size: 20px;
}

.textohome2{
    font-size: 20px;
}

.calendario{

    height: 100px;
    width: auto;
}

.textohome3{
    font-size: 20px;
}

.textohome4{
    font-size: 20px;
}

.logo{
    height: 140px;
    width: auto;
}

.textofooter{
    font-size: 20px;
}

}

.unouno{
    height: 80px;
    width: auto;
}

.textouno{
    font-size: 40px;
    font-family: 'Alata', sans-serif;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.textouno:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.sesionunolink{
    text-decoration: none;
    color: white;
}


.sesionuno{
    padding: 30px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px white groove;
    background-color: #663DE4;
}

.sesionunoarriba{
    background: radial-gradient(circle at 10% 20%, rgb(75, 108, 183) 0%, rgb(55, 82, 141) 90%);
    padding: 100px 0px;
}

.unoc{
    color: white;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 50px;
}

.unocdos{
    color: white;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 40px;
}

.iniciotexto1c{
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    padding: 20px 50px;
    text-align: center;
}

.mediotexto1c{
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    padding: 20px 50px;
    text-align: center;
}

.imagenanimales{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.animales{
    border: 8px solid #d4cbec;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #d5def5;
}

.unoapoyowebuno{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
    background-color: #a2a8d3
}

.textounoapoyowebuno{
    font-size: 50px;
    font-family: 'Alata', sans-serif;
    text-align: center;
    color: white;
}

.colores{
    height: 150px;
    width: auto;
    transition: 0.2s;
}

.colores:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.dosapoyowebuno{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
    background-color: #142d4c;
}

.textodosapoyowebuno{
    font-size: 50px;
    font-family: 'Alata', sans-serif;
    text-align: center;
    color: white;
}

.animaless{
    height: 150px;
    width: auto;
    transition: 0.2s;
}

.animaless:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.tresapoyowebuno{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px;
    background-color: #79c2d0;
}

.textotresapoyowebuno{
    font-size: 50px;
    font-family: 'Alata', sans-serif;
    text-align: center;
    color: black;
}

.formal{
    height: 150px;
    width: auto;
    transition: 0.2s;
}

.formal:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.textoschedule{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    border-bottom: 2px black groove;
    font-family: 'Alata', sans-serif;
}


.hora{
    text-align: center;
    font-size: 40px;
    font-family: 'Alata', sans-serif;
    padding: 50px;

}

.dias{
    text-align: center;
    font-size: 40px;
    font-family: 'Alata', sans-serif;
    padding-bottom: 50px;
}

@media screen and (max-width:870px){

.animales{
    width: 400px;
}

.textouno{
    text-align: center;
}

.textounoapoyowebuno{
    font-size: 20px;
}

.colores{
    height: 100px;
    width: auto;
}

.textodosapoyowebuno{
    font-size: 20px;
}

.animaless{
    height: 100px;
    width: auto;
}

.textotresapoyowebuno{
    font-size: 20px;
}

.formal{
    height: 100px;
    width: auto;
}

.hora{
    font-size: 20px;
}

.dias{
    font-size: 20px;
}


}

.textodos{
    font-size: 40px;
    font-family: 'Alata', sans-serif;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.textodos:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.sesiondoslink{
    text-decoration: none;
    color: white;
    
}


.sesiondos{
    padding: 30px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px white groove;
    background: #663DE4;
}

.sesiondosarriba{
    background: radial-gradient(circle at 10% 20%, rgb(75, 108, 183) 0%, rgb(55, 82, 141) 90%);
    padding: 100px 0px;
}

.dosc{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Alata', sans-serif;
}

.doscuno{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Alata', sans-serif;
}

.contenidosesiondos{
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    padding: 20px 50px;
    text-align: center;
}

.imagensesiondos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.casahomero{
    padding: 10px 20px;
    border: 8px solid #d4cbec;
    border-radius: 20px;
    background-color: #d5def5;
}

.apartadosesiondos{
    font-size: 20px;
    font-family: 'Alata', sans-serif;
    padding: 20px 50px;
    text-align: center;
}

.pronombrespersonalesicon{
    height: 200px;
    width: auto;
    transition: 0.2s;
}

.pronombrespersonalesicon:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.textopronombrespersonales{
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
}

.pronombrespersonales{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5dacbd;
    padding:40px 100px;
}

.verboscomunes{
    background-color: #9fd3c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}

.verboscomuneslink{
    height: 200px;
    width: auto;
    transition: 0.2s;
}

.verboscomuneslink:hover{
    transition: 0.2s;
    transform: scale(1.1)
}

.textoverboscomunes{
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
}

.prendasvestir{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #7c73e6;
}

.textoprendas{
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Alata', sans-serif;;
}

.prendaslink{
    height: 200px;
    width: auto;
    transition: 0.2s;
}

.prendaslink:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.clasetercera{
    font-size: 50px;
    color: white;
    text-align: center;
    background: radial-gradient(circle at 10% 20%, rgb(75, 108, 183) 0%, rgb(55, 82, 141) 90%);
    padding: 50px 0px;
    font-family: 'Alata', sans-serif;
}


.pronombresposesivos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #5dacbd;
}

.textopronombresposesivos{
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 50px;
}

.pronombresposesivoslink{
    height: 200px;
    width: auto;
    transition: 0.2s;
}

.pronombresposesivoslink:hover{
    transform: scale(1.1);
    transition: 0.2s
}

.hogar{
    background-color:#9fd3c7;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textohogar{
    font-size: 50px;
    text-align: center;
    font-family: 'Alata', sans-serif;
}

.hogarlink{
    height: 200px;
    width: auto;
    transition: 0.2s
}

.hogarlink:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.preposiciones{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
    background-color: #7c73e6;
}

.textopreposiciones{
    font-size: 50px;
    text-align: center;
    font-family: 'Alata', sans-serif;
}

.preposicioneslink{
    height: 200px;
    width: auto;
    transition: 0.2s;
}

.preposicioneslink:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

@media screen and (max-width:1000px ) {


.pronombrespersonalesicon{
    height: 150px;
    width: auto;
}

.textopronombrespersonales{
    font-size: 30px;
}

.verboscomuneslink{
    height: 150px;
    width: auto;
}

.textoverboscomunes{
    font-size: 30px;
}

.prendaslink{
    height: 150px;
    width: auto;
}

.textoprendas{
    font-size: 30px;
}

.pronombresposesivoslink{
    height: 150px;
    width: auto;
}

.textopronombresposesivos{
    font-size: 30px;
}

.hogarlink{
    height: 150px;
    width: auto;
}

.textohogar{
    font-size: 30px;
}

.preposicioneslink{
    height: 150px;
    width: auto;
}

.textopreposiciones{
    font-size: 30px;
}

}

@media screen and (max-width:630px) {

    .dosc{
        font-size: 40px;
    }

    .doscuno{
        font-size: 20px;
    }

    .casahomero{
        width: 400px;
        height: auto;
    }

    .pronombrespersonales{
        padding: 20px 60px;
    }

    .verboscomunes{
        padding: 20px 60px;
    }

    .prendasvestir{
        padding: 20px 60px;
    }
    
    .pronombresposesivos{
        padding: 20px 60px;
    }

    .hogar{
        padding: 20px 60px;
    }

    .preposiciones{
        padding: 20px 60px;
    }
}
    
@media screen and (max-width:550px) {

    .textopronombrespersonales{
        font-size: 20px;
    }

    .textoverboscomunes{
        font-size: 20px;
    }

    .textoprendas{
        font-size: 20px;
    }

    .clasetercera{
        font-size: 40px;
    }

    .textopronombresposesivos{
        font-size: 20px;
    }

    .textohogar{
        font-size: 20px;
    }

    .textopreposiciones{
        font-size: 20px;
    }
}

@media screen and (max-width: 415px) {

    .dosc{
        font-size: 30px;
    }

    .contenidosesiondos{
        padding: 20px 30px;
        font-size: 15px;
    }

    .apartadosesiondos{
        padding: 20px 30px;
        font-size: 15px;
    }

    .casahomero{
        width: 300px;
        height: auto;
    }
    
    .verboscomuneslink{
        height: 100px;
        width: auto;
    }

    .textoverboscomunes{
        font-size: 15px;
    }

    .pronombrespersonalesicon{
        height: 100px;
        width: auto;
    }

    .textopronombrespersonales{
        font-size: 15px;
    }

    .textoprendas{
        font-size: 15px;
    }

    .prendaslink{
        height: 100px;
        width: auto;
    }

    .pronombresposesivoslink{
        height: 100px;
        width: auto;
    }

    .textopronombresposesivos{
        font-size: 15px;
    }

    .hogarlink{
        height: 100px;
        width: auto;
    }

    .textohogar{
        font-size: 15px;
    }

    .preposicioneslink{
        height: 100px;
        width: auto;
    }

    .textopreposiciones{
        font-size: 15px;
    }

    .clasetercera{
        font-size: 30px;
    }
}